/* Reset Border Box */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face{ 
	font-family: 'Impact_Label';
	src: url('../fonts/Impact_Label-webfont.woff') format('woff');
}

@font-face{ 
	font-family: 'Impact_Label_Reversed';
	src: url('../fonts/Impact_Label_Reversed-webfont.woff') format('woff');
}

@font-face{ 
font-family: 'COPYN';
src: url('../fonts/COPYN___-webfont.woff') format('woff');
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
  min-height: 100vh;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 80%);
}

#greeting-dialog {
  align-self: center;
  justify-self: center;
  text-align: center;
  z-index: 10;
  background-color: hsl(0, 0%, 12%);
  border: none;

}

#dialogTitle {
  padding: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-family: 'Impact_Label_Reversed', sans-serif;
  color: hsl(0, 0%, 80%);
}

input[type=text] {
  width: 70%;
  padding: 10px 20px;
  margin: 10px 20px 40px 20px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 80%);
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  box-sizing: border-box;
  outline: none;
}

#submit-button {
  background-color: hsl(0, 0%, 60%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#submit-button:hover {
  background-color: hsl(0, 0%, 40%);
}

dialog::backdrop {
  background-color: hsl(0, 0%, 12%);
}

header {
  display: flex;
  align-items: center;
  max-width: 56.25rem;
  height: 6.25rem;
}

#logo {
  font-size: 1.5rem;
  font-family: 'Impact_Label_Reversed', 'Dosis', sans-serif;
  color: hsl(0, 0%, 90%);
}

nav {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.nav-bar {
  margin-left: auto;
}

.nav-item {
  padding: 0 0.3125rem;
  display: inline;
  list-style-type: none;
}

a {
  color: hsl(0, 2%, 95%);
  font-weight: 600;
}

section {
  padding: 1rem 0;
}

h2 {
  margin-bottom: 0.75rem;
}

.aboutme-container {
  display: flex;
}

.aboutme-text-container {
  margin-right: 1rem;
  flex-shrink: 1;
  width: 60%;
}

.aboutme-text-container h2 {
  margin-top: 0;
}

.aboutme-text-container p {
  color: #808080;
}

#about-me img {
  width: 9rem;
  height: 9rem;
  margin: 0.625rem 0.625rem;
  flex-shrink: 0;
  opacity: 0.8;
  border-radius: 50%;
}

details.project {
  margin: 1rem 0;
}

.project-title {
  list-style: none;
  cursor: pointer;
  margin-bottom: 0.75rem;
  color: #808080;
  max-width: fit-content;
}

.project-title h3 {
  display: inline;
}

#projects a {
  opacity: 0.5;
}

#projects a:hover {
  opacity: 1;
}

#projects img {
  max-width: 25rem;
}

.project-description {
  max-width: 50%;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container i {
  height: 2rem;
  flex: 1 1 auto;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
} 

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.contact-container i {
  flex: 1 1 auto;
  margin: 0.5rem 0.5rem;
  padding: 0.625rem 0.625rem;
}

footer {
  margin-top: auto;
  flex-shrink: 1;
  text-align: center;
}

/*
@media only screen and (max-width: 560px) {
  
  header nav {
    display: block;
  }

  .nav-bar {
    margin: 1rem 0;
    padding-left: 0;
  }


  .aboutme-container {
    flex-direction: column;
  }

  #logo {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 560px) and (max-width: 620px) {
  
  .aboutme-container {
    flex-direction: column;
  }

  #logo {
    font-size: 1.5rem;
  }

  .nav-item a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 748px) { 

  #logo {
    font-size: 2.2rem;
  }

  .nav-bar {
    padding-left: 0;
  }

}

*/