* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
  height: 100%;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 80%);
}

header {
  display: flex;
  align-items: center;
  max-width: 56.25rem;
  height: 100px;
}

#logo {
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
}

nav {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.nav-bar {
  margin-left: auto;
}

.nav-item {
  padding: 0 5px;
  display: inline;
  list-style-type: none;
}

a {
  color: hsl(0, 2%, 95%);
  font-weight: 600;
}

section {
  padding: 16px 0;
}

h2 {
  margin-bottom: 12px;
}

.aboutme-container {
  display: flex;
}

.aboutme-text-container {
  margin-right: 1rem;
  flex-shrink: 1;
  width: 60%;
}

.aboutme-text-container h2 {
  margin-top: 0;
}

.aboutme-text-container p {
  color: #808080;
}

#about-me img {
  width: 9rem;
  height: 9rem;
  margin: 10px 10px;
  flex-shrink: 0;
  opacity: 0.8;
  border-radius: 50%;
}

details.project {
  margin: 16px 0;
}

.project-title {
  list-style: none;
  cursor: pointer;
  margin-bottom: 12px;
  color: #808080;
}

.project-title h3 {
  display: inline;
}

#projects a {
  opacity: 0.5;
}

#projects a:hover {
  opacity: 1;
}

#projects img {
  max-width: 400px;
}

.project-description {
  max-width: 50%;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container i {
  height: 32px;
  flex: 1 1 auto;
  margin-top: 8px;
  padding: 8px 8px;
} 

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.contact-container i {
  flex: 1 1 auto;
  margin: 8px 8px;
  padding: 10px 10px;
}

footer {
  margin-top: auto;
  flex-shrink: 1;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .aboutme-container {
    flex-direction: column;
  }
}